In [1]:
import pandas as pd
import numpy as np
import pysentani as sti

In [2]:
survey = pd.read_excel('../data-anonymous/sentani-merged-cleaned-anonymous-2014-11-29.xlsx')

In [3]:
survey['access_type'] = sti.access_type(survey)
survey['electricity_monthly'] = sti.elec_expenditure_monthly(survey)

In [4]:
survey = survey[survey['village_name'] == 'Asei']

In [13]:
#expenditure data has a large range which is hard to interpret
subsurvey = survey[['access_type','PLN_expenditure_monthly',
                    'app_now/TV','app_now/lighting','app_now/radio',
                    'app_now/rice_cooker','app_now/fridge','app_now/fan']]
subsurvey.dropna()

,access_type,PLN_expenditure_monthly,app_now/TV,app_now/lighting,app_now/radio,app_now/rice_cooker,app_now/fridge,app_now/fan
46,PLN_grid,140000,1,1,0,1,0,0
47,PLN_grid,40000,1,1,0,1,1,0
48,PLN_grid,400000,1,1,0,1,1,0
49,PLN_grid,270000,1,1,0,1,1,0
50,PLN_grid,100000,1,1,0,1,0,0
51,PLN_grid,100000,1,1,0,0,0,0
52,PLN_grid,50000,0,1,1,1,0,0
53,PLN_grid,35000,1,1,0,0,1,0
54,PLN_grid,50000,1,1,0,1,1,0
55,PLN_grid,200000,1,1,1,1,0,0
56,PLN_grid,20000,0,1,0,0,0,0
57,PLN_grid,50000,1,1,0,1,0,1
92,PLN_grid,40000,0,1,0,1,0,0
93,PLN_grid,50000,1,1,1,1,0,1
94,PLN_grid,30000,1,1,1,1,0,0
95,PLN_grid,600000,1,1,1,1,1,0
96,PLN_grid,250000,1,1,0,1,1,1
97,PLN_grid,200000,1,1,1,1,1,1
99,PLN_grid,40000,1,1,0,0,0,0
100,PLN_grid,100000,1,1,0,1,1,0
101,PLN_grid,60000,1,1,0,0,0,0
102,PLN_grid,40000,1,1,0,1,0,0
103,PLN_grid,30000,1,1,0,1,0,0
105,PLN_grid,30000,1,1,0,1,0,0

In [11]:
subsurvey.groupby('access_type').mean().transpose()

access_type              PLN_grid
PLN_expenditure_monthly    121875

$$expenditure\ in\ rp \left(\frac{1USD}{12,000rp}\right) \left(\frac{1kWh}{0.08USD}\right)=\left(\frac{expenditure}{960}\right)kWh $$

In [7]:
# monthly expenditure divided by 960 rp per kWh(.08 USD per kWh * 12000 rp to USD exchange)
# 12000 rp to 1 usd was the exchange rate at time of survey along with reported .08USD per kwh
def Asei_kwh_conversion(cv):
    converted = (cv['PLN_expenditure_monthly']/(960))
    return converted

survey['Asei_kWh'] = survey.apply(Asei_kwh_conversion, axis=1)

In [8]:
# calculates the approximate kwh average per household per month
df = survey.groupby(['access_type'])[['PLN_expenditure_monthly','Asei_kWh']].mean()
df.reset_index(inplace=True)
df

  access_type  PLN_expenditure_monthly    Asei_kWh
0    PLN_grid                   121875  126.953125

daily metered energy reflects about 200-250 kwh per day for approximately 40 households which is about 5 kwh per houshold per day or 150 kwh per household per month.

In this second analysis it becomes clear that only households with appliances have reported expenditures which now seems obvious, so maybe there is some correlation between appliance ownership and energy use here.